
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wise Wallet</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Wise Wallet</h1>
    <div class="container">
      <% if (user) { %>
        <p>Welcome, <%= user.username %>!</p>
        <a href="/transactions" class="button">View Transactions</a>
        <a href="/auth/sign-out" class="button">Sign Out</a>
      <% } else { %>
        <!-- <p>Welcome to Wise Wallet!</p> -->
        <a href="/auth/sign-up" class="button">Sign Up</a>
        <a href="/auth/sign-in" class="button">Sign In</a>
      <% } %>
    </div>
  </body>
  
</html>